.students-screen-layout {
    .header-action {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        span {
            display: flex;
            align-items: center;
            color: #069bdb;
            cursor: pointer;

            p {
                margin: 0;
                font-size: 18px;
            }
        }
    }

    .data-container {
        display: flex;
        width: 80vw;
        margin: auto;
    }

    @media screen and (max-width: 767px) {
        .header-action {
            h5 {
                font-size: 1rem;
            }
        }
    }
}