.section-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #62cef9;
    cursor: pointer;
    box-shadow: 0px 3px 6px 0px rgba(16, 17, 18, 0.16);
    border-radius: 18px;
    color: #fff;
    text-align: center;
}