.home-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 5rem);

    .sections-list {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding: 0 5rem;
        gap: 30px;
        width: 50%;
        height: 60%;
    }

    // ================ Breakpoints ================

    @media screen and (max-width: 767px) {
        .sections-list {
            width: 70%;
            grid-template-columns: 100%;
        }
    }
}